[Unit]
Description=airflow-scheduler

[Service]
Type=simple
User=root
Restart=on-failure
LimitNOFILE=102400

ExecStart=/data/software/app/airflow/start-scheduler.sh

[Install]
WantedBy=multi-user.target
